body {
 text-align: center;
}

.Dictionary section {
    padding: 40px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 3px rgba(112, 109, 88, 0.1);
    margin: 15px 0;
}

.Dictionary input {
    width: 80%;
    padding: 6px 4px;
    border: solid 1px #ddd;
    border-radius: 6px;
}